@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);
@import url(http://fonts.googleapis.com/css?family=Orbitron:400);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block
}

body {
	line-height:1
}

ol,ul {
	list-style:none
}

blockquote,q {
	quotes:none
}

blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none
}

table {
	border-collapse:collapse;
	border-spacing:0
}

/*----------------------------------------------
		Snake Game Styles
----------------------------------------------*/
body {
	background:#444444;
}

h1 {
	margin-top: 12px;
	font-size: 22px;
	font-weight: 400;
}

.right {
	float: right;
}

#wrapper {
	width:320px;
	height:460px;
	overflow:hidden;
	display:block;	
	background:url(images/noise-bg.gif);
}

#canvas-background {
	background:url(images/grid.png);
	background-position:0 0;
}

#header {
	background:#00b7ea;
/* Old browsers */
	background:-moz-linear-gradient(top,#00b7ea 0%,#009ec3 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00b7ea),color-stop(100%,#009ec3));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#00b7ea 0%,#009ec3 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#00b7ea 0%,#009ec3 100%);
/* Opera 11.10+ */
	background:-ms-linear-gradient(top,#00b7ea 0%,#009ec3 100%);
/* IE10+ */
	background:linear-gradient(top,#00b7ea 0%,#009ec3 100%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea',endColorstr='#009ec3',GradientType=0 );
/* IE6-9 */
	width:318px;
	overflow: hidden;
	height: 43px;
	text-align:center;
	color:#fff;
	border-bottom:1px solid #838B8B;
	border-right: 1px solid #838B8B;
	border-top: 1px solid #F6F9ED;
	border-left: 1px solid #F6F9ED;
}

canvas {
	-webkit-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.5);
	-moz-box-shadow:inset 0 0 5px 0 rgba(0,0,0,.5);
	box-shadow:inset 0 0 5px 0 rgba(0,0,0,.5)
}

#pause_menu,#restart_menu {
	display:none
}

#score_contain {
	position:absolute;
	left:235px;
	top:15px;
	color: #222;
}

#pause-button-wrapper {
	position:absolute;
	left:10px;
}

#pause-menu,#gameover-menu {
	display:none
}

#ads {
	margin:-2px
}

/* Overlay */
#simplemodal-overlay {
	background-color:#fff;
	cursor:wait
}

/* Container */
#simplemodal-container {
	height:255px;
	width:250px;
	color:#757575;
	background:url(images/noise-bg.gif);
	border:4px solid #444;
	padding:12px;
	-moz-border-radius-topleft:40px;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:40px;
	-moz-border-radius-bottomleft:0;
	-webkit-border-radius:40px 0 40px 0;
	border-radius:40px 0 40px 0;
	-webkit-box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, .4);
	-moz-box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, .4);
	box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, .4);
}

#simplemodal-container .simplemodal-data {
	padding:8px
}

#simplemodal-container h1 {
	font-size:36px;
	text-align:center;
}

#simplemodal-container p {
	width: 90%;
	margin: auto;
}

#simplemodal-container #main-content p {
	text-align: center;
	padding: 20px 0;
}

#simplemodal-container .high {
	font-size:16px;
	text-align:center;
	font-family: 'Orbitron', sans-serif;
	margin-top: 20px;
	color: #b2b2b2;
}

#simplemodal-container .replay {
	top:10px
}

#simplemodal-container .your {
	margin-top: 36px;
	font-size: 30px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}

#simplemodal-container .current-score {
	margin-top: 12px;
	font-size: 28px;
	text-align: center;
	display: block;
	font-family: 'Orbitron', sans-serif;
}

#score {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #02010a;
	padding: 4px 7px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#ffffff));
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 0px solid #171717;
	-moz-box-shadow:
		1px 1px 3px rgba(255,255,255,0.6),
		inset 0px 1px 3px rgba(087,087,087,0.8);
	-webkit-box-shadow:
		1px 1px 3px rgba(255,255,255,0.6),
		inset 0px 1px 3px rgba(087,087,087,0.8);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

h3 {
	color:#84b8d9;
	font-size: 42px;
	margin-bottom: 7px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	text-shadow: 1px 1px 2px #757575;
	filter: dropshadow(color=#757575, offx=1, offy=1);
}

h3.about {
	font-size: 36px;
}

h3.paused {
	font-size: 33px;
}

.high-score, .current-score {
	font-size: 20px;
}

.hide {
	display:none !important;
}

#ribbon {
	float:left;
	position:absolute;
	left:-14px;
	top:132px;
	z-index:0;
	font-size:0.75em;
	text-transform:uppercase;
	text-align:right;
}

.ribbon-body {
	background:#ca3d33;
	padding:6px 12px;
	z-index:100;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	border-radius:0 5px 5px 0;
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,.3)
}

.triangle {
	position:relative;
	height:0;
	width:0;
	left:-10px;
	top:-34px;
	border-style:solid;
	border-width:10px;
	border-color:transparent #882011 transparent transparent;
	z-index:-1
}

.button,.button:visited {
	background:#222 repeat-x;
	display:inline-block;
	padding:5px 10px 6px;
	margin: 10px;
	color:#fff;
	text-decoration:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	text-shadow:0 -1px 1px rgba(0,0,0,0.25);
	border-bottom:1px solid rgba(0,0,0,0.25);
	position:relative;
	cursor:pointer
}

.button:hover {
	background-color:#111;
	color:#fff
}

.button:active {
	top:1px
}

.small.button,.small.button:visited {
	font-size:11px;
	padding:
}

.button,.button:visited,.medium.button,.medium.button:visited {
	font-size:13px;
	font-weight:700;
	line-height:1;
	text-shadow:0 -1px 1px rgba(0,0,0,0.25)
}

.medium {
	font-size: 18px;
	padding: 12px 20px;
}

.large {
	font-size: 20px;
	padding: 13px;
	margin-bottom: 5px;
	width: 80%;
	text-align: center;
}

.green.button,.green.button:visited {
	background-color:#91bd09
}

.green.button:hover {
	background-color:#749a02
}

.blue.button,.blue.button:visited {
	background-color:#2daebf
}

.blue.button:hover {
	background-color:#007d9a
}

.red.button,.red.button:visited {
	background-color:#e33100
}

.red.button:hover {
	background-color:#872300
}

.magenta.button,.magenta.button:visited {
	background-color:#a9014b
}

.magenta.button:hover {
	background-color:#630030
}

.orange.button,.orange.button:visited {
	background-color:#ff5c00
}

.orange.button:hover {
	background-color:#d45500
}

.yellow.button,.yellow.button:visited {
	background-color:#ffb515
}

.yellow.button:hover {
	background-color:#fc9200
}

/**
 *
 * Main container
 *
 */
#addToHomeScreen {
	z-index:9999;
	-webkit-user-select:none;
	-webkit-box-sizing:border-box;
	width:240px;
	font-size:15px;
	padding:12px 14px;
	text-align:left;
	font-family:helvetica;
	background-image:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#fff),color-stop(0.02,#eee),color-stop(0.98,#ccc),color-stop(1,#a3a3a3));
	border:1px solid #505050;
	-webkit-border-radius:8px;
	-webkit-background-clip:padding-box;
	color:#333;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
	line-height:130%;
	-webkit-box-shadow:0 0 4px rgba(0,0,0,0.5);
}

#addToHomeScreen.addToHomeIpad {
	width:268px;
	font-size:18px;
	padding:14px;
}

/**
 *
 * The 'wide' class is added when the popup contains the touch icon
 *
 */
#addToHomeScreen.addToHomeWide {
	width:296px;
}

#addToHomeScreen.addToHomeIpad.addToHomeWide {
	width:320px;
	font-size:18px;
	padding:14px;
}

/**
 *
 * The balloon arrow
 *
 */
#addToHomeScreen .addToHomeArrow {
	position:absolute;
	background-image:-webkit-gradient(linear,0 0,100% 100%,color-stop(0,rgba(204,204,204,0)),color-stop(0.4,rgba(204,204,204,0)),color-stop(0.4,#ccc));
	border-width:0 1px 1px 0;
	border-style:solid;
	border-color:#505050;
	width:16px; height:16px;
	-webkit-transform:rotateZ(45deg);
	bottom:-9px; left:50%;
	margin-left:-8px;
	-webkit-box-shadow:inset -1px -1px 0 #a9a9a9;
	-webkit-border-bottom-right-radius:2px;
}


/**
 *
 * The balloon arrow for iPad
 *
 */
#addToHomeScreen.addToHomeIpad .addToHomeArrow {
	-webkit-transform:rotateZ(-135deg);
	background-image:-webkit-gradient(linear,0 0,100% 100%,color-stop(0,rgba(238,238,238,0)),color-stop(0.4,rgba(238,238,238,0)),color-stop(0.4,#eee));
	-webkit-box-shadow:inset -1px -1px 0 #fff;
	top:-9px; bottom:auto; left:50%;
}


/**
 *
 * Close button
 *
 */
#addToHomeScreen .addToHomeClose {
	-webkit-box-sizing:border-box;
	position:absolute;
	right:4px;
	top:4px;
	width:18px;
	height:18px; line-height:14px;
	text-align:center;
	text-indent:1px;
	-webkit-border-radius:9px;
	background:rgba(0,0,0,0.12);
	color:#707070;
	-webkit-box-shadow:0 1px 0 #fff;
	font-size:16px;
}


/**
 *
 * The '+' icon, displayed only on iOS < 4.2
 *
 */
#addToHomeScreen .addToHomePlus {
	font-weight:bold;
	font-size:1.3em;
}


/**
 *
 * The 'share' icon, displayed only on iOS >= 4.2
 *
 */
#addToHomeScreen .addToHomeShare {
	display:inline-block;
	width:18px;
	height:15px;
	background-repeat:no-repeat;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAQAAABDj1eZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUdJREFUKFNtkLtLw1AYxS/qJLhXVKr2ZRulUNtiqgSb3CziICI6ucTFVYcOnaQOFRwUnNTRwUWXgpP/QdHNUEQUHGxofYBTlRs83iZNjKTncOGe7/vx3QchXUWn6FL3jhfKUdCCr5zuifV5oDiHQM+c+CIhiiCSWNu08iq9oHXKLAiqrgR4UXqlOEYZt++ExEL0wW7+OW0G10muLv9gmqfe5FAWKmTMYQYiFL7PYwyLOD8lSjNh2gdnPzMII4QUBxc4OothbAF7GCBKQ0YbSWyPQsIhqvetS+y0ygGMo/KFZfviDvR4AhwgZU9dGYnA0J/6ndc15i3ouYIMcVVUcEXIoOxCeRCfwP8sXBSdjtpUv/1QW+K16kCCIUC4id9Fa0JtkluwVkSfqPL6RwfSDA0aNlx7k/bWgViB7bMS2/1vk5sdsZLN/ALSuL3tylO4RAAAAABJRU5ErkJggg==);
	background-size:18px 15px;
	text-indent:-9999em;
	overflow:hidden;
}


/**
 *
 * The touch icon (if available)
 *
 */
#addToHomeScreen .addToHomeTouchIcon {
	display:block;
	float:left;
	-webkit-border-radius:6px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5),
		inset 0 0 2px rgba(255,255,255,0.9);
	background-repeat:no-repeat;
	width:57px; height:57px;
	-webkit-background-size:57px 57px;
	margin:0 12px 0 0;
	border:1px solid #333;
	-webkit-background-clip:padding-box;
}


/**
 *
 * The 'share' icon for retina display
 *
 */
@media all and (-webkit-min-device-pixel-ratio: 2) {
	#addToHomeScreen .addToHomeShare {
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAeCAQAAADu6HTYAAADPElEQVR4Xq3TX2gcRRzA8e/M7mVv2+TSNpc/TZtrY6jUGqgaSAmEChKLrYK0YH0RFC2CSCkEfCghiKU04J8qNigq6os+iQV98MHWFwVBrQQRWs21lBw5cw3NNb1/udu72RGG5Y77IzXW77D7sAwf5scyYoL6BGXSDKFZwaGpLvIUaeoCkvX1MmsM0Ny6oRSQYOLuIS+YZOpfQdqslpUxcZrzTVAz4qPwW2O3CeIwC/RSzeY6Ow1QhUrkr+YOWfEKDkEP8Rij7CHKJmrFSDHBdwGEE5wiGChPN+PnT8VdRtEIl1d4gRj/1EVe5ZSBKGh8iqQpo/Fo5+3C/gz0MYg4zgwbqday1/Q4B8BGQ45d/Hi54lakCrU5obOcidJpu1+Lg9whjabyaOYLnrIBFFaRD+xe2ybMDWY66GmP/WA9cGfGp0CWhy0wkMN8inepFiH2rV1j0NQSNQbFLRQnS8/8YSDBBpadfv4CYDub2fmeHDNAsL1MBWUel0iA+Xik6eHcyvD3vAMSU1TGuA/YRS+dD7ovCQN43GKRFCU20Kd3V/avDVVyAZ5niTEuLA5/zBGWg9EEEhfJKN200Tat8CmRAQb9+wv7soPlHt2tQorsz1uPbr0HTY4sJwrH47zJZwABBAKLMBoQXepwgTwdHCo+fXMkQ4lrxEmQ5AaXipPqDY9V2vn09tgvTPI71EEGYxM+/uMJLJ4svpgaWGKOi/xKgmqLSUGSUd5f2vIVJ/CgBaTIUsZ7ZBsn0+NzfMOXLFCXQyTcybN6ep5ZZgUOHn7jpfUpsZshdugPGf+E5zjbyHTSRyQ8xfRPPM/s63RHeuknSoT22mjmmnAOIMkUZ6D1xSfPPAfd1WFKM3sO2CMaHx8M1NjnXKHaAGGkOW0C02WeYHUz4qMtx+w5gUDS8NckYe5lHsMYwCZEPyEEmjLDZFmAS7CDviMdxyTkMNVBKEmYLvbiQQBIBBbCQG04bGQvFWz6CfsCQLWCigILFwcfkGYBiOpbYuOizTAyYyDdCtrGaRG1LCkIgMYEFhI0WqQZoSlbGRyHKe4qOx7iv2bVQW9dp4dlM/x6kmwnWQcd/Q3FCqwTEiT5s+6D5v/pb0SSHyg7uhMWAAAAAElFTkSuQmCC);
	}
}